#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #dbc25e;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
